In [1]:
fruits = ["apple", "banana", "cherry", "date"];
for i in fruits:
    print(i)

apple
banana
cherry
date

In [2]:
nums = [1, 2, 3, 4, 5];
nums.reverse();
print(nums);

[5, 4, 3, 2, 1]

In [ ]:
numbers = [10, 20, 30, 40, 50];
[n*3 for n in numbers]

[30, 60, 90, 120, 150]

In [ ]:
tuple = (1, 2, 3, 4, 5);
print(tuple.count(3)); ##

1

In [ ]:
array = ["12345", "2", "3", "4", "5"];
for x in array:
    x.split("."); ##split the string into a list
    print(x);
print(array);

12345
2
3
4
5
['12345', '2', '3', '4', '5']

In [ ]:
numbers = [10, 20, 30, 40, 50];
print(list(map(lambda x:x+20,numbers)));

[30, 40, 50, 60, 70]

In [ ]:
def name(dicts):
    return dicts["name"];
dicts = [{"name": "John"}, {"name": "rajesh"}, {"name": "New York"}]

print(list(map(name, dicts)));

['John', 'rajesh', 'New York']

In [ ]:
from abc import ABC,abstractmethod

## Abstract base cclass
class Vehicle(ABC):
    def drive(self):
        print("The vehicle is used for driving")

    @abstractmethod
    def start_engine(self):
        pass

class Car(Vehicle):
    def start_engine(self):
        print("Car enginer started")

def operate_vehicle():
    car.start_engine()
    car.drive()

car=Car()
operate_vehicle()
dir(car)

Car enginer started
The vehicle is used for driving

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 'drive',
 'start_engine']

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4])
arr.shape

(4,)

In [11]:
import pandas as pd
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32],
        'City': ['New York', 'Paris', 'Berlin', 'London']}  
df = pd.DataFrame(data)
df['Salary'] = [50000, 60000, 55000, 65000]

df.drop('Age', axis=1, inplace=True)

In [12]:
df.describe()

             Salary
count      4.000000
mean   57500.000000
std     6454.972244
min    50000.000000
25%    53750.000000
50%    57500.000000
75%    61250.000000
max    65000.000000